#add-to-cart-form{
  .alert, .btn{
    width: 90vw;
    max-width: 300px;
    display: block;
    margin: 0 !important;
    margin-top: 5px !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .btn-info{
    text-transform: uppercase;
    font-weight: bold;
    border-color: transparent;
  }
}
