@import 'variables';


#cover{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.7);
  z-index: 100002;
  display: none;
}

#filters_e{
  position: fixed;
  width: 90vw;
  max-width: 700px;
  height: 80vh;
  top: 10vh;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 20px;
  z-index: 100003;
  background-color: #fff;

  #delete-filters{
    margin-top: -45px;
  }

  #exit-btn:hover{
    cursor: pointer;
  }

  label{
    font-weight: 100;
  }

  select{
    display: inline-block;
  }

  .filter-header, button[type="submit"]{
    color: $special-color;
  }
}
