@import '../../../sass/_variables';



#sidebar{
  position: fixed;
  top: 0;
  padding-top: 70px;
  right: 0px;
  width: 400px;
  height: 100vh;
  background: #fff;
  border-left: 1px groove $bg-color-dark;
  z-index: 100004;

  @media(max-width: 900px){
    width: 300px;
  }

  @media(max-height: 620px){
    overflow-y: scroll;
  }

  .category{
    width: 100%;
    border-top: solid 1px $bg-color-dark;
    border-bottom: solid 1px $bg-color-dark;
    margin-top: -1px;
  }

  a{
    color: $dark-gray;
    display: block;
    text-align: left;
    margin-left: 30px;
    font-family: 'Titillium Web', sans-serif;

    &:hover{
      text-decoration: none;
      color: $special-color;
      transition: transform(0.3s);
    }
  }

  .search-panel{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    margin-bottom: 20px;

    i{
      color: $special-color;
      float: left;
    }

    input{
      border: none;
      border-bottom: solid 1px $special-color;
    }
  }

  #sidebar-categories{
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;

    h6{
      color: #888;
      margin-left: 20px;
      font-family: 'Titillium Web', sans-serif;
      font-size: 21px;
      font-weight: bold;
      text-align: left;
      &:after{
        content: "\25bc";
        font-size: 10px;
        float: right;
        margin-right: 15px;
      }
      &:hover{
        cursor: pointer;
        color: $special-color;
        transition: 0.2s;
      }
    }

    a{
      display: block;
      color: $dark-gray;
      font-weight: bold;
      &:hover{
        text-decoration: none;
        opacity: $h-level;
      }

      &:before{
        content: "\25b8";
        margin-right: 10px;
        color: $special-color;
      }
    }

    .s_category{
      padding-top: 6px;
      padding-bottom: 6px;
      width: 100%;
      div{
        margin-left: 35px;
      }
    }
  }
}
