// Body
$bg-color: #f8fafc;
$bg-color-dark: #d6dada;
$h-level: 0.8;

// Typography
$special-font: 'Mulish', sans-serif;
$content-font: 'Titillium Web', sans-serif;

// Colors
$special-color: #2cfeaf;
$dark-gray: rgba(#2d3333, 1);
