// Body
$bg-color: #f8fafc;
$bg-color-dark: #d6dada;
$h-level: 0.8;

// Typography
$special-font: 'Mulish', sans-serif;
$content-font: 'Roboto', sans-serif;

// Colors
$special-color: #5174e8;
$dark-gray: #2f3033;
