#root{
  width: 80%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.slider-image{
  width: 120px;
  height: 120px;
}

.slider-image:hover{
  opacity: 0.7;
}

.main-slider-image img{
  width: 400px;
  height: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.main-slider-image i{
  font-size: 40px;
  margin-top: -200px;
}

.main-slider-image i:hover{
  cursor: pointer;
}

.fa-arrow-left{
  float: left;
}

.fa-arrow-right{
  float: right;
}

@media only screen and (max-width: 800px){
  .main-slider-image img{
    width: 260px;
    height: 260px;
  }

  .main-slider-image i{
    font-size: 40px;
    margin-top: -130px;
  }
}

#description{
  width: 400px;
  min-height: 200px;
  border-right: solid 1px #eee;
  float: left;
}

#price{
  font-size: 24px;
}

#price b::before{
  content: "$";
}

#sizes{
  margin-top: 50px;
}

input[name="selected_size"]{
  display: none;
}

input[name="selected_size"]:checked + span{
  color: white;
  background: black;
}

.size-label span{
  display: inline-block;
  margin: 3px;
  text-transform: uppercase;
  border: 2px solid black;
  border-radius: 2px;
  color: black;
  padding: 6px 10px;
}

.btn-info{
  font-size: 20px;
}

.operation{
  float: left;
  margin: 5px;
}
