@import '../../../../sass/_variables';



#loader-background{
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10000000;

  i{
    position: fixed;
    font-size: 80px;
    color: $special-color;
    top: calc(100vh / 2 - 40px);
    left: calc(100vw / 2 - 40px);
  }
}
