footer{
  min-height: 100px;
  color: #ddd;
  text-align: left;
}

#footer-categories{
  background-color: #222222;
  padding: 20px;
  padding-left: 50px;
}

#footer-user{
  background-color: #202020;
  padding: 20px;
  padding-left: 50px;
}

#footer-user a{
  color: #bbb;
  display: block;
  width: 400px;
}

#footer-copyright{
  background-color: #181818;
  text-align: center;
  padding: 3px;
}

.footer-list-item{
  margin-left: 20px;
  color: #aeaeae;
}

#footer-categories a{
  text-decoration: none;
  width: 400px;
}
