@import 'variables';

footer{
  background: $dark-gray;
  color: #aaa;
  text-align: center;
  padding: 10px;
  padding-bottom: 0;

  a{
    color: $special-color;
    font-family: 'Titillium Web', sans-serif;
    margin: 0px 30px;
  }

  ._wh{
    color: #aaa;
  }

  p{
    width: 100%;
    text-align: center;
    margin-top: 5px;
    margin-bottom: -10px;
    font-size: 12px;
  }
}
