@import 'variables';

footer{
  min-height: 100px;
  color: #ddd;
  background: $dark-gray;
  text-align: left;

  a{
    color: #bbb;
    display: block;

    &:hover{
      text-decoration: none;
      color: #bbb;
      opacity: $h-level;
    }
  }

  h4{
    color: $special-color;
  }

  .f-cats, .f-auth, .f-site{
    padding: 20px;
    margin-left: 30px;
  }

  .f-cats{
    h6{
      margin-left: -20px;
      color: $special-color;
    }
  }

  .medias{
    text-align: center;
    a{
      display: inline-block;
      color: $special-color;
    }
  }

  .f-copyright{
    text-align: center;
    padding: 3px;
    background: #222;
  }
}
