@import 'variables';

html, body{
  font-family: $content-font;
  background-color: $bg-color;
  margin: 0;
  padding: 0;
  overflow-y: overlay;
}

main{
  margin: auto;
  width: 85%;
  min-height: 870px;
}

.error{
  width: 300px;
  margin: 10px;
}

.fa{
  padding: 10px !important;
}
